.date-box {
  width: 229px;
  height: 229px;
  padding: 0;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 2px;
  border: none;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 20px;
}

.title-p {
  font-size: 90px;
  margin-top: 27px;
}

.header {
  position: relative;
  left: 0;
  padding: 0;
  height: 45px;
  background-color: #3eb9ca;
  font-size: 40px;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
