.App {
  text-align: center;
}

.App::before {
  content: '';
  display: block;
  height: 100vh;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3EB9CA;
}

.App-link {
  color: #61dafb;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}